<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Bienvenido al Sistema de Tickets</h1>
    <a href="/users">Gestionar Usuarios</a>
    <a href="/tickets">Gestionar Tickets</a>
</body>
</html>
